<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <permission android:name="hn.single.server.permission.ACCESS_ASSETS"
                android:protectionLevel="normal" />

    <permission
        android:name="hn.single.server.IServiceAidl.Access"
        android:protectionLevel="normal" />
    <permission
        android:name="com.hn.libs.ICalculatorAidl.Access"
        android:protectionLevel="normal" />
    <application
        android:name=".base.ServerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SomeFunction_Learn">
        <service
            android:name=".aidlservice.MyService"
            android:enabled="true"
            android:exported="true"
            android:permission="hn.single.server.IServiceAidl.Access">
            <intent-filter>
                <action android:name="hn.single.server.IServiceAidl" />
            </intent-filter>
        </service>
        <service android:name=".aidlservice.CalculatorAidl"
                 android:exported="true"
                 android:enabled="true"
                 android:permission="com.hn.libs.ICalculatorAidl.Access">
            <intent-filter>
                <action android:name="com.hn.libs.ICalculatorAidl" />
            </intent-filter>
        </service>

        <activity android:name=".base.BaseActivity" android:exported="false"/>
        <activity
            android:name=".features.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
                android:name=".provider.AssetsFileProvider"
                android:authorities="hn.single.server.provider.AssetsFileProvider"
                android:enabled="true"
                android:exported="true"
                android:grantUriPermissions="true"
                android:permission="hn.single.server.permission.ACCESS_ASSETS"
                tools:ignore="ExportedContentProvider"/>

        <provider
            android:permission="hn.single.server.permission.ACCESS_ASSETS"
                android:name=".provider.AssetFileProvider"
                android:authorities="hn.single.server.provider.AssetFileProvider"
                android:exported="false"
                android:grantUriPermissions="true"/>

        <provider
            android:permission="hn.single.server.permission.ACCESS_ASSETS"
            android:name=".provider.AssetProvider"
            android:authorities="hn.single.server.asset.provider"
            android:exported="false" />
    </application>

</manifest>